# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
venv
venv311/
.venv/
env/
.env/

# Environment variables
.env

# Blockchain data
blockchain/data/
blockchain/contract_data.json
blockchain/orchestrator_config.json
blockchain/dlt-network-docker/code/credentials.json
blockchain/dlt-network-docker/code/dataFile.csv
blockchain/dlt-network-docker/code/*.h5
blockchain/dlt-network-docker/dlt-node/bootnode/boot.key
blockchain/dlt-network-docker/dlt-node/**/keystore/
blockchain/dlt-network-docker/dlt-node/**/geth/
blockchain/dlt-network-docker/dlt-node/scripts/password.txt

# Snort VNF runtime logs
network/snort/logs/

# macOS specific
.DS_Store
